.container {
  margin-top: 20px;
  background-color: grey;
  min-height: 500px;
}

body {
  background-image: "assets/images/mountains.jpg";
}

.btn {
  min-width: 700px;
  margin: 5px 0;
  background-color: #d954f7;
  color: #B3F754;

}
.btn:hover {
  background-color: grey;
}